/* Gradient Hover Effect */

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

.card-hover {
  position: relative;
  overflow: hidden; /* Ensures glow stays around */
  cursor: pointer;
  z-index: 0;
}

.card-hover::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 105%;
  height: 105%;
  border-radius: 16px;
  background: linear-gradient(-45deg, #ffffff 0%, #5e5c5c 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #f8f7ca 0%, #f5f3dc 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
  border-radius: 16px;
}

.card-hover:hover::after {
  filter: blur(30px);
}

.card-hover:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}


